* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;

    /*--- font-size var ---*/
    --s14: 0.875rem;
    --m16: 1.125rem;
    --l20: 1.3125rem;
    --xl26: 1.625rem;
    --xxl32: 2rem;

    /*--- color var ---*/
    --pri-clr-cream: hsl(30, 38%, 92%);
    --neu-clr-dark-blue: hsl(212, 21%, 14%);
    --neu-clr-grayish-blue: hsl(228, 12%, 48%);
    --neu-clr-white: hsl(0, 0%, 100%);
    --acc-clr-dark-cyan-1: hsl(158, 36%, 37%);
    --acc-clr-dark-cyan-2: hsl(158, 36%, 20%);
}

main {
    background-color: var(--pri-clr-cream);
}

h1,
.discount-price {
    font-family: 'Fraunces', serif;
    font-size: var(--xxl32);
    line-height: 1;
}

h1 {
    color: var(--neu-clr-dark-blue);
    letter-spacing: .5px;
}



p, a {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--s14);
    color: var(--neu-clr-grayish-blue);
    line-height: 1.6;
}

a:link,
a:visited,
a:hover,
a:active{
    color: var(--neu-clr-white);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

/*--- reusable ---*/

.flex {
    display: flex;
    
}

.flex-ctr-ctr {
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.vh100 {
    min-height: 100vh;
}

/*---product section---*/

.product-card {
    align-items: center;
    background-color: var(--neu-clr-white);
    max-width: calc(600rem/16);
    border-radius: .5rem;
    overflow: hidden;
}

.img-desktop {
    width: 50%;
}

.product-info {
    gap:1.6em;
    padding: 1.2em 2.1em;
}

.category{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.price {
    align-items: center;
    gap: 1.5em;
    margin-bottom: .5em;
}

.discount-price {
    color: var(--acc-clr-dark-cyan-1);
}

a.btn100{
    background-color: var(--acc-clr-dark-cyan-1);
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: .5rem;
    gap: 1em;
}

a.btn100:hover,
a.btn100:active{
    background-color: var(--acc-clr-dark-cyan-2);
}

.attribution {
    font-family: 'Montserrat', sans-serif;;
    font-size: var(--s14);
    text-align: center;
    letter-spacing: 1px;
    padding: 1em;
}

.attribution a:link,
.attribution a:visited{
    color: hsl(228, 45%, 44%);
}

.attribution a:hover,
.attribution a:active{
    color: hsl(228, 45%, 60%);
}